<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="primero">
        <div class="example-button-row">
            <button mat-stroked-button class="new">
                <mat-toolbar-row>
                    <mat-icon>add</mat-icon>
                    <h1 class="icon"> Nueva consulta</h1>
                </mat-toolbar-row>
            </button>
        </div>
        <div class="example-button-row">
            <button mat-button class="">
                <mat-toolbar-row>
                    <mat-icon>chat</mat-icon>
                    <h1 class="icon1">Pastillas para el dolor de cabeza</h1>
                </mat-toolbar-row>
            </button>
        </div>
        <div class="example-button-row">
            <button mat-button class="">
                <mat-toolbar-row>
                    <mat-icon>chat</mat-icon>
                    <h1 class="icon1">Horario de atención</h1>
                </mat-toolbar-row>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <h1 class="centered-text">Chat</h1>
        </div>
        <div class="column">
            <div class="chat">
                <div class="icon-container">
                    <mat-icon>hub</mat-icon>
                </div>
                <p>Ejemplos</p>
                <div class="button-container">
                    <button mat-button class="consulta">
                        <mat-toolbar-row>
                            <h1 class="consulta1">Guardar las consultas que has hecho anteriormente</h1>
                        </mat-toolbar-row>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-button class="consulta">
                        <mat-toolbar-row>
                            <h1 class="consulta1">Guardar las consultas que has hecho anteriormente</h1>
                        </mat-toolbar-row>
                    </button>
                </div>
            </div>
            <div class="chat">
                <div class="icon-container">
                    <mat-icon>accessibility</mat-icon>
                </div>
                <p>Capacidades</p>
                <div class="button-container">
                    <button mat-button class="consulta">
                        <mat-toolbar-row>
                            <h1 class="consulta1">Guardar las consultas que has hecho anteriormente</h1>
                        </mat-toolbar-row>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-button class="consulta">
                        <mat-toolbar-row>
                            <h1 class="consulta1">Guardar las consultas que has hecho anteriormente</h1>
                        </mat-toolbar-row>
                    </button>
                </div>
            </div>
                <div class="chat">
                <div class="icon-container">
                    <mat-icon>front_hand</mat-icon>
                </div>
                <p>Limitaciones</p>
                <div class="button-container">
                    <button mat-button class="consulta">
                        <mat-toolbar-row>
                            <h1 class="consulta1">Guardar las consultas que has hecho anteriormente</h1>
                        </mat-toolbar-row>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-button class="consulta">
                        <mat-toolbar-row>
                            <h1 class="consulta1">Guardar las consultas que has hecho anteriormente</h1>
                        </mat-toolbar-row>
                    </button>
                </div>
            </div>
        </div>
        <div class="input-container">
            <input type="text" placeholder="Escribe un mensaje">
            <button>Enviar</button>
    </div>
    </mat-drawer-content>
</mat-drawer-container>
