<p>
    <mat-toolbar class="nabvar">
        <mat-toolbar-row>
            <span class="example-spacer"></span>
            <mat-icon>email</mat-icon><p class="icon">Contactanos</p>
            <mat-icon>phone</mat-icon><p class="icon2">Lima: (01) 635-5000</p>
            <p class="bar">|</p>
            <p class="contactos">Otras ciudades : Ver teléfonos</p>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="nabvar2">
        <mat-toolbar-row>
            <span class="imagen">
                <img src="assets/img/logo.png" class="SANNA-logo">
            </span>
            <span class="fill-remaining-space"></span>
            <span>
                <button mat-button class="boton"><p  class="boton">Citas<mat-icon class="down">arrow_drop_down</mat-icon></p></button>
                <button mat-button class="boton"><p  class="boton">Medicos</p></button>
                <button mat-button class="boton"><p  class="boton">Red de Clínicas<mat-icon class="down">arrow_drop_down</mat-icon></p></button>
                <button mat-button class="boton"><p  class="boton">Sobre SANNA<mat-icon class="down">arrow_drop_down</mat-icon></p></button>
                <button mat-button class="boton"><p  class="boton">Mis resultados</p></button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
